
{
  box-sizing: border-box;
}
@font-face{
    font-family:'Futura PT';
    src: url(fonts/)
}
body{
    color: #66CDAA;
    color: hsl(300,80&,50%);
    font-family: Futura PT, Verdana, Arial,
        sans-serif;
    font-size: 18px;
}

.header {
  padding: 50px;
  text-align: center; 
  background: #1abc9c;
  color: white; 
}






.links {
  overflow: hidden;
  background-color: #333; 
}


.links a {
  float: left; 
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 20px; 
  text-decoration: none;
}


.links a.right {
  float: right;
}
#

.links a:hover {
  background-color: #ddd; 
  color: black; 
}


/*layout*/


* {
  box-sizing: border-box;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%; 
  background-color: #f1f1f1; 
  padding: px; 
}

.main {
  flex: 70%;
  background-color: white; 
  padding: 20px;
}

.img {
  background-color:antiquewhite;
  width: 100%;
  padding: 20px;
}











.header h1 {
  font-size: 40px;
}


 h2 {
    background-color:#1abc9c;
    color:azure;
    font-family: Futura PT; fantasy;
    font-size: 40px;
    text-align: center;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
        }
p{
    line-height: 1.4em;
    text-align: left;
    text-indent: 5px;
}

p:first-letter {
    font-size: 110%;
    font-weight: bold;
}

#firstIndex{
    height: 500px;
    width: 600px;
    border-style: solid;
    background-color: #1abc9c;
    border-spacing: 25px;
    border-width: 5px;
    
}

.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}



.pClass{
    width: 45%;
    background-color: none;
    border-style: hidden;
    border-width: thick; 
    padding: 10px;
    margin: 20px;
    text-align: right;
}

.character_name {
    color:darkgreen
}

span.character_name {
    color:crimson;
    font-weight: bold;
    font-style: italic;
}

#last {
    color:purple;
}

