@font-face{
    font-family:'Futura PT';
    src: url(fonts/)
}

body{
    color: #66CDAA;
    color: hsl(300,80&,50%);
    font-family: Futura PT, Verdana, Arial,
        sans-serif;
    font-size: 16px;
}

h1, h2 {
    background-color:aquamarine;
    color:darkblue;
    font-family: Futura PT; fantasy;
    font-size: 40px;
    text-align: center;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
        }
p{
    line-height: 1.4em;
    text-align: left;
    text-indent: 5px;
}

p:first-letter {
    font-size: 110%;
    font-weight: bold;
}

#divbox{
    height: 500px;
    width: 500px;
    border-style: solid;
    background-color: aquamarine;
    border-spacing: 25px;
    border-width: 5px;
    border: 4px outset darkblue;
    
}

.pClass{
    width: 75%;
    background-color: beige;
    border-style: solid;
    border-width: thick; 
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.character_name {
    color:darkgreen
}

span.character_name {
    color:crimson;
    font-weight: bold;
    font-style: italic;
}

#last {
    color:purple;
}